<h1>Run the Lakes</h1>
<p> and track your times</p>

<div class="addNewLakeRun">
    <!--add error message code-->
    <div class="messages">
        {{#each messages.error}}
            <p class="error_msg">{{this}}</p>
        {{/each}}
    </div>

    <h3>Update your fun run!!</h3>
    <!--get home page and collect input from user-->
    <form action="/" method="post">
        Name: <input name="name" type="text">
        <br><br>
        Desription: <input name="description" type="text">
        <br><br>
        Distance: <input name="distance" type="text">
        <br><br>
        Run Time: <input name="run_time" type="text">
        <br><br>
        Run Date: <input name="run_date" type="text">
        <br><br><br>
        <input name="addLake" type="submit" value="Add New lake run">

    </form>

</div>