<h1>Run the Lakes</h1>
<p> and track your times</p>

<div class="addNewLakeRun">
    <h3>Update your fun run!!</h3>
    <!--get home page and get user information-->
    <form action="/" method="post">
        Name: <input name="name" type="text">
        <br><br>
        Desription: <input name="description" type="text">
        <br><br>
        Distance: <input name="distance" type="text">
        <br><br>
        Run Time: <input name="run_time" type="text">
        <br><br>
        Run Date: <input name="run_date" type="text">
        <br><br><br>
        <input name="addLake" type="submit" value="Add New lake run">

    </form>

</div>